@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  html,
  body {
    height: 100%;
  }

  body {
    background-color: rgb(17, 24, 39);
    color: rgb(243, 244, 246);
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(31, 41, 55);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(75, 85, 99);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107, 114, 128);
}
